    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #242024d3;
        color: #fff;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .hero {
        color: #fff;
        text-align: center;
        padding: 200px 0;
        position: relative;
        background-image: url("images/bg1.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .hero h1 {
        font-size: 72px;
        margin-bottom: 20px;
        text-shadow: 2px 2px #242024;
    }
    
    .hero p {
        font-size: 36px;
        margin-bottom: 40px;
        text-shadow: 2px 2px #242024;
    }
    
    .btn {
        background-color: #fff;
        color: #242024;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
    }
    
    .btn:hover {
        background-color: #333;
        color: #fff;
    }
    
    .about {
        background-color: #242024;
        color: white;
        padding: 50px 0;
    }
    
    .about h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: white;
    }
    
    h2 {
        color: white;
    }
    
    .about p {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    .projects {
        padding: 100px 0;
        background-image: url("images/random8.png");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
    }
    
    .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .project {
        flex: 1;
        margin: 15px 20px;
        width: 400px;
    }
    
    .project-img {
        width: 400px;
        height: 300px;
        overflow: hidden;
    }
    
    .project-img img {
        width: 400px;
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
    .project-info {
        background-color: #242024d3;
        padding: 20px;
        color: #fff;
    }
    
    .project-info h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .crypto-projects {
        background-color: #242024;
        color: #fff;
        padding: 100px 0;
    }
    
    .crypto-projects h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .crypto-projects .project {
        flex: 1;
        margin-bottom: 40px;
        max-width: 400px;
    }
    
    .crypto-projects .project-info {
        background-color: transparent;
    }
    
    .crypto-projects .project-info h3,
    .crypto-projects .project-info p {
        color: #fff;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    @media (max-width: 767px) {
        .hero {
            padding: 100px 0;
        }
        .hero h1 {
            font-size: 48px;
        }
        .hero p {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .btn {
            display: block;
            margin: 20px auto;
        }
    }